<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Groups</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"
	th:href="@{css/bootstrap.min.css}" />

<meta charset="utf-8"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<title>jQuery UI Datepicker - Default functionality</title>
<link rel="stylesheet"
	href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"></link>
<link rel="stylesheet" href="/resources/demos/style.css"></link>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
	$(function() {
		$("#datepicker").datepicker();
	});
</script>


</head>


<body>
	<h1>Users</h1>
	<table class="table table-striped">
		<tr>
			<th>Id</th>
			<th>Login</th>
			<th>Password</th>
			<th>FirstName</th>
			<th>LastName</th>
			<th>Birthday</th>


		</tr>
		<tr th:each="user : ${users}">
			<td th:text="${user.id}"></td>
			<td th:text="${user.login}"></td>
			<td th:text="${user.password}"></td>
			<td th:text="${user.firstName}"></td>
			<td th:text="${user.lastName}"></td>
			<td th:text="${user.birthday}"></td>

			<td><a th:href="@{/deleteuser/{id}(id=${user.id})}"
				class="btn btn-danger">Delete</a></td>
			<td><a th:href="@{/edituser/{id}(id=${user.id})}"
				class="btn btn-danger">Edit</a></td>
		</tr>
	</table>
	<a href="/group"><button>Groups</button></a>


	<h1>Add User</h1>
	<div id="addUser">
		<form action="#" th:action="@{/saveuser}" th:object="${users}"
			method="post">
			<div style="clear: both; display: block; height: 10px;"></div>
			<input type="text" id="userId" name="userId" class="form-control"
				placeholder="User Id" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<input type="text" id="login" name="login" class="form-control"
				placeholder="Login" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<input type="password" id="password" name="password" class="form-control"
				placeholder="Password" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<input type="text" id="firstName" name="firstName"
				class="form-control" placeholder="First Name" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<input type="text" id="lastName" name="lastName" class="form-control"
				placeholder="Last Name" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<input type="text" id="datepicker" name="birthday"
				placeholder="Birthday"></input>
				<div style="clear: both; display: block; height: 10px;"></div>
		<!--	<input type="text" id="groups" name="groups" class="form-control"
				placeholder="groups" />
			<div style="clear: both; display: block; height: 10px;"></div> -->
			<input type="submit" class="btn btn-success" value="Save"></input>

		</form>
	</div>

	<h1>Add User to Group</h1>
  	<div> <!-- (userId=${user.userId})(groupId=${groups.groupId})} -->
		<form  th:href="@{/user/addtogroup/{userId}/{groupId}}" method="get">
			<input type="number" id="user.userId" name="userId" />
			<input type="number" id="groups.groupId" name="groupId" />
			<button type="submit">Save</button>
		</form>

	</div>



</body>


</html>